//base
@import "./helpers/variables";

// Define color variables
$primary-color: #0056b3; // Example for primary color
$background-color: #f4f4f4; // Example for background color

// You can define other color variables as needed

body {
    background-color: $background-color;
}

// Custom styles that override Bootstrap defaults
.btn-primary {
    background-color: $primary-color;
    border-color: $primary-color;

    &:hover {
        background-color: darken($primary-color, 10%);
        border-color: darken($primary-color, 10%);
    }
}

// More custom SCSS can be added here
