@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

$font_1: "Roboto", sans-serif;



//bg-color:
$bg-primary-color: rgb(255,255,255);
$bg-color-1: rgb(240, 243, 244);

//text-color:
$t-color-1:  rgb(46, 53, 56);
$t-color-2: rgb(255, 255, 255);

//link-color:
$l-color-1: rgb(21, 97, 157);
