//bg-color:
$bg-primary-color: rgb(255,255,255);
$bg-color-1: rgb(240, 243, 244);

//text-color:
$t-color-1:  rgb(46, 53, 56);
$t-color-2: rgb(255, 255, 255);

//link-color:
$l-color-1: rgb(21, 97, 157);

// Background Variable
$bg-color-green-1: #4C5E67;
$bg-color-green-2: #627884;
$bg-color-green-3: #364349;
$bg-color-pale: #F0F3F4;
$bg-color-red-1: #EC2C13;
$bg-color-beige: #fdeae7;
$bg-color-yellow: #FFC666;

// Color Variable
$color-green-1: #B6C2C9;
$color-white: white;
$color-black: black;
$color-black-1: #2E3538;
$color-grey-1: #8a9ea8;
$color-grey-2: #8f9ca3;
$color-grey-3: #eef4f6b3;
$color-grey-4: #eef4f680;
$color-grey-5: #d3dbde;
$color-red-1: #d42811;
$color-red-2: #f05742;
$color-skin-1: #FFECCC;

// Demo Product Color Variable
$arrDemo: (
    item1: (
        #0c0c0b,
        #E91E63,
        #dad39f,
        #b1525f
    ),
    item2: (
        #0c0c0b,
        #7b5cb7,
        #2196F3
    ),
    item3: (
        #0c0c0b,
        #dad39f,
        #74554c,
        #f5f5f5
    ),
    item4: (
        #0c0c0b,
        #9E9E9E,
        #0530de
    ),
    item5: (
        #fb0404,
        #0530de,
        #8BC34A
    ),
    item6: (
        #0c0c0b,
        #74554c,
        #9E9E9E
    ),
    item7: (
        #0c0c0b,
        #dad39f,
        #74554c,
        #f5f5f5
    ),
    item8: (
        #0c0c0b,
        #74554c,
        #f5f5f5
    ),
);